@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Onest", serif;
  font-optical-sizing: auto;
  font-style: normal;
}



  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }

  /* Scrollber */
.wrapper::-webkit-scrollbar {
  width: 4px;
  height: 5px;
  background-color: #aaa;

}


.wrapper::-webkit-scrollbar-thumb {
  background: #03A9F4;
}

  /* width */
  .scrollbar-0::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  .scrollbar-0::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  .scrollbar-0::-webkit-scrollbar-thumb {
    background: #a7abe8;
  }

  /* Handle on hover */
  .scrollbar-0::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

/* Scrollber */



/* Loader */

/* Loader */



/* Material Tailwind Dashboard */
.no-active {
  background-color: transparent !important;
  outline: none !important; 
  box-shadow: none !important; 
}

.no-active:focus {
  outline: none !important; 
}

/* Material Tailwind Dashboard */






  /* Ant modal */
  .custom-modal .ant-modal-content {
    background-color: transparent;
    box-shadow: none;
    width: 350px;
    border-radius: 0%;
  }
  
  .custom-modal .ant-modal-close {
    right: 40px !important;
    top: 25px !important; 
  }
  
   /* Ant modal */


/* Ant Design Dashboard */
.custom-menu .ant-menu-item-selected {
  background-color: #dad5fc !important;
  color: #ffffff !important;         
}

.custom-menu .ant-menu-item-selected:hover {
  background-color: #dad5fc !important; 
}

/* Ant Design Dashboard */

/* Ant Design Table */
 .ant-table-cell {
  text-align: center;
}


.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  text-align: center !important;
}

 /* Ant Design Table */


/* Add these styles if not already present */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}



